@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("./fonts/PTSans-Bold.woff") format("woff"), url("./fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("./fonts/PTSans-Regular.woff") format("woff"), url("./fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: PTSans, sans-serif;
}

ul li {
  list-style: none;
}

button.active {
  background: #00e676;
  color: #fafafa;
  border: 1px solid #00e676;
}

html,
body {
  background-color: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*::-moz-selection {
  color: #00e676;
}

*::selection {
  color: #00e676;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/

a#btnUp {
  position: fixed;
  z-index: 1000;
  bottom: 85px;
  right: 150px;
  color: #8bc34a;
  opacity: .5;
  font-size: 4em;
  text-shadow: 2.5px 2.5px 4px rgba(211, 22, 22, 0.5);
  text-shadow: -2.5px -2.5px 4px rgba(174, 173, 184, 0.5);
}

a#btnUp:hover {
  opacity: .95;
  bottom: 95px;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.qualities {
  text-align: left;
}

.qualities__title {
  text-align: center;
}

.qualities__list-item {
  margin: 1em 0;
}

.qualities__list-item::before {
  content: url(../img/check.png);
  margin-right: 1em;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  max-width: 750px;
}

.product__content--img img {
  max-height: 350px;
  max-width: 230px;
}

.product__content--text {
  padding: 0 25px;
}

.product__list-item {
  margin: .25em 0;
}

.product__list-item::before {
  content: url(../img/check.png);
}

@media (max-width: 768px) {
  a#btnUp {
    bottom: 25px;
    right: 15px;
  }

  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product__content--img img {
    margin-bottom: 35px;
  }
}

@media (max-width: 375px) {
  a#btnUp {
    bottom: 25px;
    right: 15px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 375px){

@supports (-webkit-appearance:none){

}

}
